---
layout: page

title: La Inversión Más Inteligente. La satisfacción de nuestros clientes
description: Convertimos a tus fans en clientes finales gracias a nuestro trabajo en redes sociales

permalink: /clientes/

hero-title: "Nuestros clientes"
hero-subtitle: "La inversión más inteligente"
---

{% include hero.html %}

<section id="portfolio-work">
    <div class="container">
      <div class="block">
        <div class="portfolio-contant" style="padding-bottom: 40px;">
          <ul id="portfolio-contant-active">
            {% assign cont = 3 %}

            {% for client in site.clients %}
              {% assign newRow = cont | modulo:3 %}
              
              {% if cont == 3%}
                <div class="row">
              {% else %}
                {% if newRow == 0 %}
                  </div>
                  <div class="row">
                {% endif %}
              {% endif %}
              
              <div class="col-md-4" style="height: 400px;">
                <li class="client-li">
				  <div style="background: url(/img/superpoder.svg); width: 200px; height: 200px; border-radius: 50px; margin: auto;">
				  <img class="client-img" src="{{ media_folder }}{{ client.logo }}" alt="Cliente"
				  style="width: 102px; height: 102px; border-radius: 50px; margin: auto; margin-top:50px;">
				  </div>
				  <div style="background: white; position: relative; height: 300px; top: -100px; border-radius: 40px; border: #035c67 5px solid; z-index: -1; border-top: 0; margin: 20px; padding: 0 20px 20px 20px;">
					<h2 style="font-size: 20px; text-transform: none; position: relative; top: 20px;">{{ client.name }}</h2>
					<h3 style="font-size: 15px; color:#987009; position: relative; top: 20px;">{{ client.business }}</h3>
					{% if client.description %}
					  <p style="position: relative; top: 30px;">{{ client.description }}</p>
					{% endif %}
				  </div>
				  
				  <!--<a href="{{ client.websiteUrl }}" style="width: 100%;"></a>-->
                  
				  <!-- 
                  {% if client.instagram and client.instagram != "" %}
                    <a href="{{client.instagram}}"><i class="fa fa-instagram"></i></a>
                  {% endif %}
                  {% if client.twitter and client.twitter != "" %}
                    <a href="{{client.twitter}}"><i class="fa fa-twitter"></i></a>
                  {% endif %}
                  {% if client.facebook and client.facebook != "" %}
                    <a href="{{client.facebook}}"><i class="fa fa-facebook"></i></a>
                  {% endif %}
                  {% if client.linkedin and client.linkedin != "" %}
                    <a href="{{client.linkedin}}"><i class="fa fa-linkedin"></i></a>
                  {% endif %}
				  -->
                </li>
              </div>

              {% assign cont = cont | plus:1 %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
</section>

<!-- Call to action Start -->
{% include calltoaction.html %}
