---
layout: page
permalink: /clients/
---

<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>La inversión más inteligente</h1>
                    <p>La satisfacción de nuestros clientes</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolio-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="portfolio-contant">
                <ul id="portfolio-contant-active">
					{% for client in site.clients %}
					<li class="Branding" style="border-radius: 20px; width:100px;">
						<img src="{{ media_folder }}{{ client.logo }}" alt="">
						<div class="overly">
						  <div class="position-center">
							<h5>{{ client.name }}</h5>
							<!-- <p>{{ client.description }}</p> -->
						  </div>
						</div>
					</li>
					{% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>

<!-- Call to action Start -->
{% include calltoaction.html %}
