---
layout: page

title: Anúnciate en redes sociales
description: Somos tu agencia de redes sociales en Málaga llámanos y te haremos un presupuesto a medida

permalink: /contact/
---

<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Dinos qué necesitas</h1>
          <p>¡No te cortes, nos adaptamos a cualquier necesidad!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact form start -->
<section id="contact-form">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <form name="contact" method="POST" data-netlify="true">
            <div class="form-group">
              <input name="nombre" type="text" class="form-control" placeholder="Tu nombre"required>
            </div>
            <div class="form-group">
              <input name="email" type="text" class="form-control" placeholder="Tu email"required>
            </div>
            <div class="form-group">
              <input name="asunto" type="text" class="form-control" placeholder="Asunto"required>
            </div>
			      <div class="form-group">
              <textarea name="mensaje" class="form-control" rows="3" placeholder="Mensaje"required></textarea>
            </div>
            <div class="privacy-input">
              <input name="privacy" type="checkbox"  class="form-control" aria-required="true" required>
              <p style="display: inline-block;">Acepto los términos de condiciones de la <a target="_blank" href="{{ site.baseurl }}/privacy">política de privacidad</a></p>
            </div>
			<div class="form-group" data-netlify-recaptcha="true"></div>
            <button class="btn btn-default" type="submit">Enviar mensaje</button>
          </form>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <img src="/img/contact.jpg" alt="Img" style="padding-top: 50px; width: 100%;">
        </div>
      </div>
    </div>
    <div id="contact-box" class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <h2>¡Haznos una visita!</h2>
          {% include addressblock.html %}

          <ul class="social-icons">
            <li>
              <a href="https://www.instagram.com/somossupertu"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/somossupertu"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.facebook.com/somossupertu"><i class="fa fa-facebook"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <h2>Estamos aquí</h2>
            <div class="google-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3196.9348864261015!2d-4.429480784711581!3d36.74813397995948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72f7994621ad67%3A0x66ab9de78060701!2sSupert%C3%BA%20-%20Agencia%20de%20Redes%20Sociales%20en%20M%C3%A1laga!5e0!3m2!1ses!2ses!4v1589891148255!5m2!1ses!2ses" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen></iframe>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call to action Start -->
{% include calltoaction.html %}