---
layout: default
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1>SOCIAL MEDIA MARKETING</h1>
          <p>Hacemos de tu marca una supermarca en redes sociales.</p>
		  <p>Convertimos a tus seguidores en clientes.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>ACERCA DE NOSOTRAS</h2>
            <p>Cuando empezamos nuestra andadura en las redes sociales, Instagram todavía no existía, Facebook no diferenciaba entre empresas y personas, y las campañas de publicidad en redes sociales eran cosa del futuro.</p>
          </div>
          <p>Tras años de experiencia y especialización en marketing social; el equipo de Supertú pone a tu disposición los conocimientos de márketing social de las grande empresas al alcance de tu negocio, para abrirte las puertas al canal de venta con mayor potencial en la actualidad: las redes sociales.</p>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="block">
		  <img src="img/wrapper-img-1.webp" loading="lazy" alt="Nosotras" width="457">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="intro">
  <div class="container">
    <div class="row">
		<div class="col-md-5 col-sm-12">
        <div class="block">
		<img src="img/wrapper-img-2.webp" loading="lazy" alt="Intro">
        </div>
      </div>
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>SOMOS TU EQUIPO</h2>
            <p>Como supermarca, tus clientes se merecen una atención excepcional y cercana. En Supertú somos expertas en mimetizarnos con el lenguaje y tono de tu negocio.</p>
          </div>
          <p>Mediante un trato directo y personalizado con cada uno de nuestros clientes, proporcionamos la cercanía de un community manager in-home en forma de servicio, lo que nos permite adaptarnos a cualquier presupuesto.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>NATIVAS DIGITALES</h2>
            <p>Además de ser expertas manejando las redes sociales, nos movemos como pez en el agua en todo el mundo digital.</p>
          </div>
          <p>Tenemos un conocimiento 360 de los entornos digitales, por eso hacemos que tu estrategia social y de marketing digital encajen y cobren sentido en conjunto.</p>
        </div>
      </div>
	  <div class="col-md-5 col-sm-12">
		<img src="img/wrapper-img-3.webp" loading="lazy" alt="Nativas digitales">
      </div>
    </div>
  </div>
</section>

<!-- Call to action -->
{% include calltoaction.html %}

<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center" style="margin: auto;">
        <h2>Algunos datos</h2>
        <p>Los números son garantía de calidad, aquí tienes algunos</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          <ul class="counter-box clearfix">
			{% for ff in site.data.funfacts %}
            <li>
              <div class="block">
                <img src="{{ ff.icon }}" width="64" height="64" alt="Fun fact">
                <h3 class="counter">{{ ff.counter }}</h3>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
	  <!--
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Clientes" loading="lazy">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
	  -->
    </div>
  </div>
</section>
