---
layout: default
permalink: /
hero-title: "Social Media Marketing"
hero-subtitle: "Convertimos tu marca en una supermarca en redes sociales"
---

{% include hero.html %}

<!-- Wrapper Start -->
<section id="intro">
  <!--
  <p class="mobile-only">Móvil</p>
  <p class="pc-only">PC</p>
  -->
  <div class="container">
    <div class="row" style="padding: 20px;">
      <div class="col-md-7 col-sm-12">
        <div class="block">
			<h2>Súper Equipo</h2>
			<p>Cuando empezamos nuestra andadura en las redes sociales, Instagram todavía no existía, Facebook no diferenciaba entre empresas y personas, y las <strong>campañas de publicidad en redes sociales</strong> eran cosa del futuro.</p>
			<p>Tras años de experiencia y especialización en marketing social; el equipo de Supertú pone a tu disposición los <strong>conocimientos de márketing social</strong> de las grandes empresas <strong>al alcance de tu negocio</strong>, para abrirte las puertas al canal de venta con mayor potencial en la actualidad: las redes sociales.</p>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="block">
		  <img src="img/wrapper-img-1.webp" loading="lazy" alt="Nosotras"  width="100%">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="intro">
  <div class="container">
    <div class="row" style="padding: 20px;">
      <div class="col-md-7 col-sm-12">
        <div class="block">
			<h2>Súper Marcas</h2>
			<p>Como marca, tus clientes se merecen una <strong>atención excepcional y cercana</strong>. En Supertú somos expertas en mimetizarnos con el lenguaje y tono de tu negocio.</p>
			<p>Mediante un <strong>trato directo y personalizado</strong> con cada uno de nuestros clientes, proporcionamos la cercanía de un community manager in-home en forma de servicio, lo que nos permite adaptarnos a cualquier presupuesto.</p>
        </div>
      </div>
	  <div class="col-md-5 col-sm-12">
        <div class="block">
		<img src="img/wrapper-img-2.webp" loading="lazy" alt="Intro" width="100%">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="intro">
  <div class="container">
    <div class="row" style="padding: 20px;">
      <div class="col-md-7 col-sm-12">
        <div class="block">
            <h2>Súper Poderes</h2>
            <p>Además de ser <strong>expertas manejando las redes sociales</strong>, nos movemos como pez en el agua en todo el mundo digital.</p>
			<p>Tenemos un <strong>conocimiento 360 de los entornos digitales</strong>, por eso hacemos que tu estrategia social y de marketing digital encajen y cobren sentido en conjunto.</p>
        </div>
      </div>
	  <div class="col-md-5 col-sm-12">
		<img src="img/wrapper-img-3.webp" loading="lazy" alt="Nativas digitales" width="100%">
      </div>
    </div>
  </div>
</section>

<!-- Call to action -->
{% include calltoaction.html %}

<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center" style="margin: auto;">
        <h2>Nuestros números</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          <ul class="counter-box clearfix">
			{% for ff in site.data.funfacts %}
            <li>
              <div class="block">
                <img src="{{ ff.icon }}" width="64" height="64" alt="Fun fact">
                <h3 class="counter">{{ ff.counter }}</h3>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
	  <!--
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Clientes" loading="lazy">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
	  -->
    </div>
  </div>
</section>

<section id="pricing">
  <div class="container">
    <div class="row">
	  <div class="col-md-12">
        <div class="section-title text-center" style="margin: auto;">
          <h2>Al mejor servicio, a tu alcance</h2>
        </div>
	  </div>
	</div>
  </div>
</section>  
      
<section class="landing">
{% include service-packs.html %}
</section>
