---
layout: page
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">SOCIAL MEDIA MARKETING</h1>
          <p class="animated fadeInUp">Hacemos de tu marca una súper marca en redes sociales. Convertimos a tus seguidores en clientes.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Acerca de nosotras</h2>
            <p>Cuando empezamos nuestra andadura en las redes sociales, Instagram todavía no existía, Facebook no diferenciaba entre empresas y personas, y las campañas de publicidad en redes sociales eran cosa del futuro.</p>
          </div>
          <p>Tras años de experiencia y especialización en marketing social; el equipo de Supertú pone a tu disposición los conocimientos de márketing social de las grande empresas al alcance de tu negocio, para abrirte las puertas al canal de venta con mayor potencial en la actualidad: las redes sociales.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>TRABAJAMOS EN EQUIPO</h2>
      <p>Como súper marca, tus clientes se merecen una atención excepcional y cercana. En Supertú somos expertas en mimetizarnos con el lenguaje y tono de tu negocio.</p>
	  <p>Mediante un trato directo y personalizado con cada uno de nuestros clientes, proporcionamos la cercanía de un community manager in-home en forma de servicio, lo que nos permite adaptarnos a cualquier presupuesto.</p>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Nuestros Servicios</h2>
        <p>Nos especializamos en todas las áreas de redes sociales para dar el mejor servicio.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Estrategia</h4>
          <p>Una súper marca, necesita un súper plan. Si quieres saber hasta dónde llegarás en 3, 6 o 9 meses... ¡Llámanos! Prepararemos a tu medida un plan viable y de máxima rentabilidad, gratis y sin compromiso.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-calendar"></i>
          <h4>Calendario editorial</h4>
          <p>Uno de los documentos que más agradecen nuestros clientes. Podrás ver qué publicamos cada día de la semana en cada red social. Sin sorpresas. Podrás revisar toda la información que emitamos de tu negocio antes de que llegue a tu público.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-camera"></i>
          <h4>Fotos y microvídeos</h4>
          <p>Si te falta material gráfico, no te preocupes. En Supertú somos autosuficientes, si nos falta material corporativo, iremos a tu oficina/local/negocio a prepararlo. También microvídeos de producto o de las dinámicas que te propongamos.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-eye"></i>
          <h4>Campañas de publicidad</h4>
          <p>Creamos campañas de publicidad que acompañen a tu marca. Facebook, Instagram, Linkedin, Youtube… Elige tu objetivo y nosotras trazamos la trayectoria. Además las monitorizaremos día a día.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-arrow-graph-up-right"></i>
          <h4>Reporte de resultados</h4>
          <p>Lo de invertir en comunicación en redes sociales suena muy bonito pero… ¿De verdad sirve? Un buen plan sin un buen análisis de datos, no sirve para nada, así que elaboramos reportes de resultados para contarte dónde ha llegado cada una de nuestras acciones y cuál será nuestro siguiente paso.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-copy-outline"></i>
          <h4>Redacción de contenidos</h4>
          <p>No te preocupes por los contenidos de tu blog, en Supertú no sólo los redactamos sino que también los creamos. Nosotras te propondremos temas de actualidad de tu sector, tú eliges los que más te gusten y nos encargaremos de escribir acerca de ellos ¿Suena bien?</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-coffee"></i>
          <h4>Social Media As-A-Service</h4>
          <p>En Supertú entendemos que externalizar es exactamente eso: quitarte una preocupación y dejar el trabajo en manos de expertos para poder dedicar tu tiempo a lo que más importa: tu negocio. ¿Necesitas más ayuda? Puedes ampliar el servicio ¿Llegan unos meses difíciles? Puedes darlo de baja o dejarlo en standby. Lo que necesites, cuando lo necesites.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-lightbulb-outline"></i>
          <h4>Creatividad</h4>
          <p>Las redes sociales requieren de un equipo de gente preparada no solo técnicamente (las redes sociales cambian <b>cada día</b>) sino también con talento para proponer ideas que encajen con tu marca y a tus seguidores como clientes. Las redes sociales son un entorno de entretenimiento, te propondremos ideas creativas y propuestas de valor de manera constante.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Hacemos de tu marca una súper marca</h2>
          <p>Si necesitas ayuda con las redes sociales, no dudes en contactar con nosotras.</p>
          <a class="btn btn-default btn-call-to-action" href="/contact/" >¡Quiero ser una súper marca!</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Algunos datos</h2>
        <p>Los números son garantía de calidad, aquí tienes algunos</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
