---
layout: page

title: Servicios de Social Media
description: Estrategia de contenidos en redes sociales, creatividad y diseño para tu estrategia de marketing digital

permalink: /servicios-social-media/
---

{% include hero.html
	title="Súper Poderes"
	subtitle="Esto es todo lo que hacemos para que tu marca triunfe en social media"
%}

{% include services-list.html %}

<div class="container">
  <div class="col-sm-12">
    <br/>
      <p>El principio de Peter Parker (también conocido como Spiderman) dice que un gran poder conlleva una gran responsabilidad. No te vamos a mentir, nuestros poderes no son fáciles de controlar. Nos ha costado 10 años de formación constante, trabajo y esfuerzo poder gestionarlos adecuadamente. Estamos en esto de las redes sociales desde que existen, desde aquellos tiempos en los que Instagram no existía y Facebook no diferenciaba entre perfiles personales y páginas de empresa.</p>
      <p>Abajo tienes desglosados todos los palos que tocamos a la hora de gestionar las redes sociales de tu empresa. Me gusta explicar, que el trabajo en social media es a veces un poco desagradecido. Hay mucho del trabajo que se ve, pero la gran mayoría del esfuerzo está en aquello que no se ve: optimización de perfiles, optimización de campañas de publicidad, estrategias de contenidos, planes de desarrollo creativo, imágenes descartadas… Si has encontrado a alguien que te gestiona las redes sociales por 100€, ¡desengáñate! Hará el trabajo que se ve, con una baja calidad, y sin tocar todo lo que no se ve. Difícilmente (o más bien, imposiblemente) conseguirá que tus redes sociales conviertan.</p>
      <p>Todos los conceptos que ves definidos en esta sección de la web, son los que ejecutaremos a la hora de gestionar tus redes sociales. Pincha encima de cada uno si quieres saber más acerca de lo que significan, y no dudes en dejarnos tus datos en el formulario para que nos pongamos en contacto contigo. ¡Estamos deseando escucharte!</p>
    <br/>
  </div>
</div>

<!-- Call to action Start -->
{% include calltoaction.html %}