---
layout: page

title: El Mejor Equipo Humano, la mejor garantía
description: Somos profesionales del marketing online especializadas en el desarrollo de marcas en redes sociales

permalink: /el-equipo-supertu/

hero-title: "El mejor equipo"
hero-subtitle: "La mejor garantía"
---

{% include hero.html %}

<section id="portfolio-work" style="padding-top: 40px;">
    <div class="container">
		{% assign sorted_team = site.team | sort:"order" %}
		
		<div class="row">
		  {% for teammember in sorted_team %}
		  <div class="col-md-4">
			{% if teammember.name_filter %}
			<div class="block" style="cursor: pointer;" onclick="window.location='/author/{{ teammember.name_filter }}';">
			{% else %}
			<div class="block">
			{% endif %}
			  <img src="{{ teammember.image }}" style="height: 100%; width: 100%;">
			</div>
			<h2>{{ teammember.name }}</h2>
			<p>{{ teammember.description }}</p>
		  </div>
		  {% endfor %}
        </div>
		<br />
    </div>
</section>

<!-- Call to action Start -->
{% include calltoaction.html %}
