---
layout: page

title: El Mejor Equipo Humano, la mejor garantía
description: Somos profesionales del marketing online especializadas en el desarrollo de marcas en redes sociales

permalink: /el-equipo-supertu/

hero-title: "El mejor equipo"
hero-subtitle: "La mejor garantía"
---

{% include hero.html %}

<section id="portfolio-work" style="padding-top: 40px;">
    <div class="container">
		{% assign sorted_team = site.team | sort:"order" %}
		
		<div class="row">
		  {% for teammember in sorted_team %}
		  <div class="col-lg-4 col-md-6" style="padding-bottom: 30px;">
			{% if teammember.name_filter %}
			<div class="member-block block" style="cursor: pointer;" onclick="window.location='/author/{{teammember.name_filter }}';">
			{% else %}
			<div class="member-block block">
			{% endif %}
			  <div style="background: url({{ teammember.image }}); background-size: cover; background-position: top; position: relative; height: 250px; width: 100%; border-radius: 0;"/>
				<div style="background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); position: absolute; left: 0px; right: 0px; top: 50%; bottom:0px;"></div>
				<h2 style="position: absolute; left: 20px; bottom: 10px; font-size: 23px; color:#987009;">{{ teammember.name }}</h2>
			  </div>
			  <p style="padding: 0 20px 20px 20px;">{{ teammember.description }}</p>
			</div>
		  </div>
		  {% endfor %}
        </div>
		<br />
    </div>
</section>

<!-- Call to action Start -->
{% include calltoaction.html %}

<style>
.member-block {
	position: relative;
	height: 100%;
	box-shadow: #b9b9b9 0 0 8px;
	border-radius: 20px;
	overflow: hidden; 
}
</style>
