<ul class="address-block">
    <li>
      <i class="fa fa-map-marker"></i><a target="_blank" href="https://www.google.com/maps/place/Prom%C3%A1laga+Virreina/@36.748101,-4.4283901,18z/data=!3m1!4b1!4m5!3m4!1s0xd72f0a15c7f122d:0x948cd1261a941855!8m2!3d36.748101!4d-4.4272958?hl=es">Av. Jane Bowles, S/N, Promálaga Virreina, Málaga</a>
    </li>
    <li>
      <i class="fa fa-envelope-o"></i>Email: <a href="mailto:espeolea@supertu.es">espeolea@supertu.es</a>
    </li>
    <li>
      <i class="fa fa-phone"></i>Teléfono: <a href="tel:+34653903359">653 903 359</a>
    </li>
  </ul>