<section class="landing-call-to-action" id="call-to-action">
  <div class="container">
    <div class="block">
      <section id="contact-form">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6">
          
              <h1>Obtén clientes por redes sociales</h1>
              <p>Gestionamos las campañas de publicidad que realizas en redes sociales:</p>
              <ul>
                <li>Creamos diseños exclusivos de manera constante</li>
                <li>Segmentamos tu público y lo optimizamos a diario para llegar a tu target</li>
                <li>Nos marcamos metas para ofrecerte los leads diarios que necesitas</li>
              </ul>
              <h3>Sácale el máximo partido a la publicidad de Facebook e Instagram</h3>
              <p>LLÁMANOS para llevar tus campañas de publicidad en redes sociales al siguiente nivel.</p>
            </div>
			<div class="col-md-6 col-sm-6">
			{% include contactform.html %}
			</div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>