<section class="landing-call-to-action" id="call-to-action">
  <div class="container">
    <div class="block">
      <section id="contact-form">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6">
          
              <h1>Impulsa al máximo tus redes sociales</h1>
              <p>Si llevas trabajando las redes sociales de tu marca profesionalmente una temporada y no obtienes los resultados que esperabas: somos tu agencia.</p>
              <p>Realizamos estrategias de contenidos innovadoras acompañadas con campañas de publicidad en medios sociales. ¡¡Otro nivel!!</p>
              <h3>Descubre el valor de llenar tus canales sociales de:</h3>
              <ul>
                <li>Contenido 100% original y a tu medida</li>
                <li>Creatividades diseñadas para ti</li>
                <li>Campañas de publicidad para captación de leads desde el primer día</li>
              </ul>
            </div>
			<div class="col-md-6 col-sm-6">
			{% include contactform.html %}
			</div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>