<!-- footer Start -->
<footer id="footer">
  <!--Late JS files-->
  <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/js/plugins.js"></script>

  <div class="container">
    <div class="row">
      <div class="col col-md-4 col-sm-12 col-xs-12">
        {% include addressblock.html %}
      </div>
      <div class="col col-md-4 col-sm-12 col-xs-12">
        <img src="{{ site.baseurl }}/img/logo_footer.png" alt="Logo">
        <p>Hacemos de tu marca una supermarca en redes sociales. Convertimos a tus seguidores en clientes.</p>
      </div>
      <div class="col col-md-4 col-sm-12 col-xs-12">
        {% include navbar.html %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p style="padding-bottom: 0;">Supertú S.L. &copy; 2019 - All rights reserved.</p>
        <a class="informative-texts-link" target="_blank" href="{{ site.baseurl }}/legal">Aviso legal</a>
        <a class="informative-texts-link" target="_blank" href="{{ site.baseurl }}/informative-texts">Textos informativos</a>
      </div>
  </div>
  </div>
</footer>
