<!-- footer Start -->
<footer id="footer">
  <!--Late JS files-->
  <!--<script src="{{ site.baseurl }}/js/jquery.min.js"></script>-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
  <!--<script async src="{{ site.baseurl }}/js/bootstrap.min.js"></script>-->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script async src="{{ site.baseurl }}/js/owl.carousel.min.js"></script>
  <script async src="{{ site.baseurl }}/js/plugins.js"></script>
  <script async src="{{ site.baseurl }}/js/main.js"></script>

  {% include facebookpixelcode.html %}

  <link rel="stylesheet" href="{{ site.baseurl }}/css/unloader.css"/>

  <div class="container centered-footer-text">
	<div class="row">
	  <img src="{{ site.baseurl }}/img/logo_full.svg" alt="Logo" height="140" style="margin: auto; margin-bottom: 20px;">
	</div>
    <div class="row">
	  <div class="col col-md-4 col-sm-12 col-xs-12" style="margin-top: 0;">
	    <hr>
        <p>Supertú S.L. &copy; 2020</p>
		<p><a class="informative-texts-link" target="_blank" href="{{ site.baseurl }}/legal">Aviso legal</a></p>
		<p><a class="informative-texts-link" target="_blank" href="{{ site.baseurl }}/informative-texts">Textos informativos</a></p>
	  </div>
      <div class="col col-md-4 col-sm-12 col-xs-12" style="margin-top: 0">
		<hr>
		<ul style="list-style-type: none; line-height: 1.5;">
			<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
			<li><a href="{{ site.baseurl }}/servicios-social-media" >Servicios</a></li>
			<li><a href="{{ site.baseurl }}/el-equipo-supertu">Equipo</a></li>
			<li><a href="{{ site.baseurl }}/clientes">Clientes</a></li>
			<li><a href="{{ site.baseurl }}/contacta">Contacto</a></li>
		</ul>
      </div>
      <div class="col col-md-4 col-sm-12 col-xs-12" style="margin-top: 0">
		<hr>
          {% include addressblock.html %}
      </div>
    </div>
  </div>
</footer>

<style>
.centered-footer-text p {
	text-align: center !important;
}
</style>
