<!-- footer Start -->
<footer id="footer">
  <!--Late JS files-->
  <!--<script src="{{ site.baseurl }}/js/jquery.min.js"></script>-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
  <!--<script async src="{{ site.baseurl }}/js/bootstrap.min.js"></script>-->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script async src="{{ site.baseurl }}/js/owl.carousel.min.js"></script>

  <script type="text/javascript" src="{{ site.baseurl }}/js/lightbox.js"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/lightbox.css">

  <script async src="{{ site.baseurl }}/js/plugins.js"></script>
  <script async src="{{ site.baseurl }}/js/main.js"></script>

  <!-- Global site tag (gtag.js) - Google Ads: 618974798 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-618974798"></script>

  {% if page.trigger_traffic_event %}
    <!-- Event snippet for Website traffic conversion page -->
    <script> gtag('event', 'conversion', {'send_to': 'AW-618974798/fTnRCILA8d4BEM6ck6cC'}); </script>
  {% endif %}

  <script>
    window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-618974798');
  </script>

  {% include facebookpixelcode.html %}

  <link rel="stylesheet" href="{{ site.baseurl }}/css/unloader.css"/>

  <div class="container centered-footer-text">
	<div class="row">
	  <img src="{{ site.baseurl }}/img/logo_full.svg" alt="Logo" height="140" style="margin: auto; margin-bottom: 20px;">
	</div>
    <div class="row">
	  <div class="col col-md-4 col-sm-12 col-xs-12" style="margin-top: 0;">
	    <hr>
        <p>Supertú S.L. &copy; 2020</p>
		<p><a class="informative-texts-link" target="_blank" href="{{ site.baseurl }}/legal/">Aviso legal</a></p>
    <p><a class="informative-texts-link" target="_blank" href="{{ site.baseurl }}/informative-texts/">Textos informativos</a></p>
    <p><a class="informative-texts-link" target="_blank" href="{{ site.baseurl }}/sitemap.xml/">Sitemap</a></p>
	  </div>
      <div class="col col-md-4 col-sm-12 col-xs-12" style="margin-top: 0">
		<hr>
		<ul style="list-style-type: none; line-height: 3">
			<li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
			<li><a href="{{ site.baseurl }}/servicios/" >Servicios</a></li>
			<li><a href="{{ site.baseurl }}/download/SupertuKitDigital.pdf">Kit Digital</a></li>
			<li><a href="{{ site.baseurl }}/nuestro-equipo/">Equipo</a></li>
			<li><a href="{{ site.baseurl }}/clientes/">Clientes</a></li>
			<li><a href="{{ site.baseurl }}/contacto/">Contacto</a></li>
		</ul>
      </div>
      <div class="col col-md-4 col-sm-12 col-xs-12" style="margin-top: 0">
		<hr>
          {% include addressblock.html %}
      </div>
    </div>
  </div>
</footer>

<style>
.centered-footer-text p {
	text-align: center !important;
}
</style>
