<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% if page.noIndex%}<meta name="robots" content="noindex">{% endif %}
<title>
  {% if page.seotitle %}
    {{ page.seotitle }}
  {% elsif page.title %}
    {{ page.title }}
  {% else %}
    {{ site.title }}
  {% endif %}
</title>


<meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">

<!-- Open graph tags -->
<meta property="og:locale" content="es_ES">
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.seotitle %}{{ page.seotitle }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="{% if page.social_media_image %}{{ site.url }}{{ page.social_media_image }}{% else %}{{ site.url }}{{ page.image }}{% endif %}" />
<meta property="og:site_name" content="Supertú | Tu agencia de redes sociales">
<meta property="article:published_time" content="{{ page.date }}" />
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

<!-- Twitter card tags -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:site" content="@SomosSuperTu" />
<meta name="twitter:creator" content="@SomosSuperTu">
<meta name="twitter:card" content="summary">

<!-- Canonical URLS -->
<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />

<!-- CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/airspace.css" media="print" onload="this.media='all'"/>
<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" media="print" onload="this.media='all'"/>
<link rel="stylesheet" href="{{ site.baseurl }}/css/owl.carousel.css" media="print" onload="this.media='all'"/>
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" media="print" onload="this.media='all'"/>
<link rel="stylesheet" href="{{ site.baseurl }}/css/animate.css" media="print" onload="this.media='all'"/>
<link rel="stylesheet" href="{{ site.baseurl }}/css/responsive.css" media="print" onload="this.media='all'"/>
<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css" media="print" onload="this.media='all'"/>
<link rel="icon" type="image/svg+xml" href="/img/favicon.svg">

<!-- Js -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" media="print" onload="this.media='all'">
<link rel="preload" href="{{ site.baseurl }}/js/plugins.js" as="script"></script>

<!-- Metrics -->
<img hidden src="https://tracker.metricool.com/c3po.jpg?hash=f33545fe9871cc373fc12371e9bb26c2"/>