<!-- Header Start -->
<header style="padding: 0;box-shadow: #0000004d 0px 0px 15px 5px;">
<div class="navbar-header" style="height: 100%; background: #035c67;">
<a href="/index.html">
  <img src="{{ site.baseurl }}/img/logo_white.svg" alt="Logo" height="70%" style="margin-left: 20px; margin-top:10px; max-height:64px;">
</a>
</div>
<button type="button" class="mobile-only navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-colapsable"
style="border:0; background: #035c67; position:absolute; right: 15px; top: 12px; outline: 0;">
  <img src="{{ site.baseurl }}/img/icons/menu_white.svg" alt="Menú" height="60px">
</button>
{% include navbar-pc.html %}

<!-- Brand and toggle get grouped for better mobile display -->
<div class="mobile-only" style="width: 100%">
  <!-- header Nav Start -->
  <nav class="navbar navbar-default" style="padding: 0;">
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="menu-colapsable" style="background:#ffffff;">
	  {% include navbar-mobile.html %}
	</div> <!-- /.navbar-collapse -->
  </nav>
</div>
</header><!-- header close -->

<!--<div style="width: 100%; height: 10px; background-image: linear-gradient(#0005, #0000);
 position: fixed; top: 90px; z-index: 100; pointer-events: none;"></div>-->

<div style="width: 100%; height: 60px; margin-bottom: 30px; background: white; pointer-events: none;"></div>

{% include social-buttons.html %}