<!-- Header Start -->
<header style="padding: 0;">
<div class="navbar-header" style="height: 100%;">
<a href="/index.html">
  <img src="{{ site.baseurl }}/img/logo.svg" alt="Logo" height="70%" style="margin-left: 20px; margin-top:10px; max-height:64px;">
</a>
</div>
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-colapsable"
style="border:0; background:white; position:absolute; right: 15px; top: 12px; outline: 0;">
  <img src="{{ site.baseurl }}/img/icons/menu.svg" alt="Menú" height="60px">
</button>

<!-- CONTACT INFO
<li class="contact-info">
	<div>
		<a class="size-adjust float-right" href="mailto:hola@supertu.es">
			<img src="/img/navbar/mail.png" alt="Email"> hola@supertu.es
		</a>
	</div>
	<div>
		<img src="/img/navbar/phone.png" alt="Teléfono">
		<a class="size-adjust float-right" href="tel:+34653903359">653 903 359</a> / <a class="size-adjust float-right" href="tel:+3495112183">951 121 83</a>
	</div>
</li>
-->

<!-- Brand and toggle get grouped for better mobile display -->
<div style="width: 100%">
  <!-- header Nav Start -->
  <nav class="navbar navbar-default" style="padding: 0;">
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="menu-colapsable" style="background:#ffffff;">
	  {% include navbar.html %}
	</div> <!-- /.navbar-collapse -->
  </nav>
</div>
</header><!-- header close -->

<div style="width: 100%; height: 10px; background-image: linear-gradient(#0005, #0000);
 position: fixed; top: 90px; z-index: 100; pointer-events: none;"></div>

<div style="width: 100%; height: 60px; margin-bottom: 30px; background: white; pointer-events: none;"></div>

{% include social-buttons.html %}