<ul class="barra-navegación" style="font-size: 48px; padding: 20px; background: linear-gradient(45deg, #035c67, #9acdcd); margin: 0; height: 100vh; list-style-type: none; line-height: 96px;">
	<li><a href="{{ site.baseurl }}/blog" style="color: #ffffff;">Blog</a></li>
	<li><a href="{{ site.baseurl }}/el-equipo-supertu" style="color: #ffffff;">Equipo</a></li>
	<li><a href="{{ site.baseurl }}/clientes" style="color: #ffffff;">Clientes</a></li>
	<li><a href="{{ site.baseurl }}/servicios-social-media" style="color: #ffffff;">Súper Poderes</a></li>
	<li><a href="{{ site.baseurl }}/contacta" style="color: #ffffff;">Contacto</a></li>
</ul>