<div class="row">
    <div class="col-sm-8">
        <ul class="nav navbar-nav navbar-center">
            <!-- <li><a href="{{ site.baseurl }}/">Inicio</a></li> -->
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="{{ site.baseurl }}/team">Equipo</a></li>
            <li><a href="{{ site.baseurl }}/clients">Clientes</a></li>
            <li><a href="{{ site.baseurl }}/servicios-social-media">Súper Poderes</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contacto</a></li>
        </ul>
    </div>
    <div class="col-sm-2">
        <ul class="nav navbar-nav navbar-right">
            <li class="contact-info">
                <div>
                    <a class="size-adjust float-right" href="mailto:hola@supertu.es">
                        <img src="/img/navbar/mail.png"> hola@supertu.es
                    </a>
                </div>
                <div>
                    <a class="size-adjust float-right" href="tel:+34653903359">
                        <img src="/img/navbar/phone.png"> 653 903 359
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>