<ul class="barra-navegación" style="font-size: 30px; padding: 20px; background: linear-gradient(45deg, #ac8705, #d6c382); margin: 0; height: 100vh; list-style-type: none; line-height: 72px;">
	<li><a class="pc-navbar" href="{{ site.baseurl }}/blog/">Blog</a></li>
	<li><a class="pc-navbar" href="{{ site.baseurl }}/servicios/">Servicios</a></li>
	<li><a class="pc-navbar" href="{{ site.baseurl }}/nuestro-equipo/">Equipo</a></li>
	<li><a class="pc-navbar" href="{{ site.baseurl }}/clientes/">Clientes</a></li>
	<li><a class="pc-navbar" href="{{ site.baseurl }}/contacto/">Contacto</a></li>
</ul>


<div style="background: transparent; position: fixed; bottom: 96px; right: auto; left: auto; width: 100%;">
	<p style="text-align: center; margin: 0; margin-top: -15px; font-size: 25px;">
	  <img src="{{ site.baseurl }}/img/icons/email.svg" height="25">
	  <a href="mailto:hola@supertu.es" style="color: #ffffff;">hola@supertu.es</a>
	</p>
	<br>
	<p style="text-align: center; margin: 0;font-size: 25px;">
	  <img src="{{ site.baseurl }}/img/icons/telephone.svg" height="25">
	  <a href="tel:+34653903359" style="color: #ffffff;">653 903 359</a>
	</p>
</div>
