<div class="row">
    <div class="col-sm-7">
        <ul class="nav navbar-nav navbar-center">
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="{{ site.baseurl }}/el-equipo-supertu">Equipo</a></li>
            <li><a href="{{ site.baseurl }}/clientes">Clientes</a></li>
            <li><a href="{{ site.baseurl }}/servicios-social-media">Súper Poderes</a></li>
            <li><a href="{{ site.baseurl }}/contacta">Contacto</a></li>
        </ul>
    </div>
    <div class="col-sm-3">
        <ul class="nav navbar-nav navbar-right">
            <li class="contact-info">
                <div>
                    <a class="size-adjust float-right" href="mailto:hola@supertu.es">
                        <img src="/img/navbar/mail.png" alt="Email"> hola@supertu.es
                    </a>
                </div>
                <div>
                    <img src="/img/navbar/phone.png" alt="Teléfono">
                    <a class="size-adjust float-right" href="tel:+34653903359">653 903 359</a> / <a class="size-adjust float-right" href="tel:+3495112183">951 121 83</a>
                </div>
            </li>
        </ul>
    </div>
</div>