<ul class="pc-only" style="background: transparent; position: fixed; top:0px; right:0; height:90px; width: 550px;
  list-style-type: none; font-size: 18px; text-transform: uppercase;">
	<style>
		.pc-navbar {
		  padding: 16px;
		  float: left;
		  height: 90px;
		  width: fit-content;
		  padding-top: 31px;
		}
		.pc-navbar:hover {
		  background-color: #ac8705;
		}
	</style>
	<li><a class="pc-navbar" href="{{ site.baseurl }}/blog" style="color: #ffffff;">Blog</a></li>
	<li><a class="pc-navbar" href="{{ site.baseurl }}/servicios-social-media" style="color: #ffffff;">Servicios</a></li>
	<li><a class="pc-navbar" href="{{ site.baseurl }}/el-equipo-supertu" style="color: #ffffff;">Equipo</a></li>
	<li><a class="pc-navbar" href="{{ site.baseurl }}/clientes" style="color: #ffffff;">Clientes</a></li>
	<li><a class="pc-navbar" href="{{ site.baseurl }}/contacta" style="color: #ffffff;">Contacto</a></li>
</ul>
