<!-- Service Start -->
<section id="service" style="padding:0; padding-bottom: 60px;">
  <div class="container">
    <div class="row" style="margin-top: -40px;">
      <div class="service-block col-xs-12 col-lg-4">
        <div class="landing-service-item">
          <h4 class="pack-name">Paquete básico</h4>
		  <img alt="Service pack icon" src="/img/imagotipo-redux.svg" class="pack-icon"/>
          <p class="price">299</p>&nbsp;<p>€/mes</p>
          <ul>
            <li>Gestión de Facebook e Instagram</li>
            <li>Creatividad exclusivas</li>
            <li>Estrategia de contenidos para ti</li>
            <li>Creación y gestión de campañas de publicidad de captación de seguidores</li>
          </ul>
          <a href="#call-to-action-anchor" class="btn btn-default pack-button">Lo quiero</a>
        </div>
      </div>
      <div class="service-block col-xs-12 col-lg-4">
        <div class="landing-service-item">
          <h4 class="pack-name">Paquete PRO</h4>
		  <img alt="Service pack icon" src="/img/imagotipo.svg" class="pack-icon"/>
          <p class="price">399</p>&nbsp;<p>€/mes</p>
          <ul>
            <li>Auditoría inicial y puesta en marcha</li>
            <li>Gestión de Facebook, Instagram y Google My business</li>
            <li>Creatividad y fotos exclusivas</li>
            <li>Campañas de publicidad de captación de seguidores</li>
            <li>Reporte de resultados mensual</li>
          </ul>
          <a href="#call-to-action-anchor" class="btn btn-default pack-button">Lo quiero</a>
        </div>
      </div>
	  <div class="service-block col-xs-12 col-lg-4">
        <div class="landing-service-item">
          <h4 class="pack-name">Paquete Ads</h4>
		  <img alt="Service pack icon" src="/img/imagotipo-ads.svg" class="pack-icon"/>
          <p class="price">20%</p>&nbsp;<p>Ads/mes*</p>
          <ul>
            <li>Creación y diseño de campañas de publicidad para ti</li>
            <li>Implementación de campañas a diario</li>
			<li>Segmentación de público afín</li>
			<li>Reportings mes a mes</li>
          </ul>
		  <p style="font-size: 12px; line-height: 1;">
		  *El precio de este paquete es el 20% del coste de la campaña de publicidad a gestionar (mínimo 99€)
		  </p>
          <a href="#call-to-action-anchor" class="btn btn-default pack-button">Lo quiero</a>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
.landing-service-item li {
	font-size: 14px;
	line-height: 1;
}

.landing-service-item {
	height: 100%;
}

.service-block {
	margin-top: 100px;
	height: 430px;
}

.pack-icon {
	width: 100%;
	height: 200px;
	position: absolute;
	top: -110px;
	left: 0;
	right: 0;
}

.pack-name {
	letter-spacing: 3px !important;
	margin-top: 40px;
}

.price{
	margin-top: 10px;
}

.pack-button {
	position: absolute;
	bottom: 20px;
	left: 40px;
	right: 40px;
}
</style>