<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>Contrata</h1>
                    <!-- <p>Todo lo que necesitas para triunfar en Social Media</p> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row ">
      <div class="col-xs-12 col-md-6">
        <div class="landing-service-item">
          <!-- <i class="ion-compass"></i> -->
          <h4>básico</h4>
          <p class="price">150</p><p>€/mes</p>
          <ul>
            <li>Creatividades exclusivas</li>
            <li>Gestión de facebook</li>
            <li>Creación y gestión de campañas de publicidad </li>
          </ul>
          <a href="#call-to-action-anchor" class="btn btn-default">Lo quiero</a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="landing-service-item">
          <!-- <i class="ion-calendar"></i> -->
          <h4>Pro</h4>
          <p class="price">280</p><p>€/mes</p>
          <ul>
            <li>Estrategia de contenidos para ti</li>
            <li>Creatividades y fotos exclusivas</li>
            <li>Gestión de facebook e Instagram</li>
            <li>Creación y gestión de campañas de publicidad</li>
            <li>Reporte de resultados mensual</li>
          </ul>
          <a href="#call-to-action-anchor" class="btn btn-default">Lo quiero</a>
        </div>
      </div>
    </div>
  </div>
</section>