<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>Contrata</h1>
                    <!-- <p>Esto es todo lo que hacemos para que tu marca triunfe en social media</p> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row ">
      <div class="col-xs-12 col-md-6">
        <div class="landing-service-item">
          <!-- <i class="ion-compass"></i> -->
          <h4>Paquete básico</h4>
          <p class="price">310</p><p>€/mes</p>
          <ul>
            <li>Gestión de Facebook e Instagram</li>
            <li>Creatividad exclusivas</li>
            <li>Estrategia de contenidos para ti</li>
            <li>Creación y gestión de campañas de publicidad de captación de seguidores</li>
          </ul>
          <a href="#call-to-action-anchor" class="btn btn-default">Lo quiero</a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="landing-service-item">
          <!-- <i class="ion-calendar"></i> -->
          <h4>Paquete PRO</h4>
          <p class="price">390</p><p>€/mes</p>
          <ul>
            <li>Auditoría inicial y puesta en marcha</li>
            <li>Gestión de Facebook, Instagram y Google My business</li>
            <li>Creatividad y fotos exclusivas</li>
            <li>Creación y gestión de campañas de publicidad de captación de seguidores</li>
            <li>Estrategia y ejecución de campañas publicitarias en medios sociales</li>
            <li>Reporte de resultados mensual</li>
          </ul>
          <a href="#call-to-action-anchor" class="btn btn-default">Lo quiero</a>
        </div>
      </div>
    </div>
  </div>
</section>