
<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      {% assign services = site.services | sort: "order" %}
      {% for service in services %}
        <div class="col-sm-6 col-md-4" style="padding-bottom: 40px;">
          <a id="anchor-{{ service.title }}" href="{{ service.permalink }}" class="service-item">
			<div style="background: url(/img/superpoder.svg); height: 100px; background-size: 180px; background-repeat: no-repeat; background-position: center;">
			<div style="background: url(/img/icons/services/{{service.icon}}); width: 80px; height: 80px; background-size: 180px; background-repeat: no-repeat; background-position: center; margin: auto; border-radius: 50px; position: relative; top: 11px;background-size: contain;"></div>
			</div>
            <h4>{{ service.name }}</h4>
            <p>{{ service.description }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>