<div class="social-buttons">
  <div class="row social-buttons-inner" style="pointer-events: all;>
	  
	  <div class="col-xs-4">
		<center>
		<a href="https://www.instagram.com/somossupertu/" target="_blank">
		  <i class="fab fa-instagram fa-2x" aria-hidden="true"></i>
		</a>
		</center>
	  </div>
	  
	  
	  <div class="col-xs-4">
		<center>
		<a href="https://www.facebook.com/SomosSuperTu/" target="_blank">
		  <i class="fab fa-facebook-square fa-2x" aria-hidden="true"></i>
		</a>
		</center>
	  </div>
	  
	  <div class="col-xs-4">
		<center>
		<a href="https://twitter.com/somossupertu" target="_blank">
		  <i class="fab fa-twitter fa-2x" aria-hidden="true"></i>
		</a>
		</center>
	  </div>
  </div>
</div>