<div class="social-buttons">
  <div class="row social-buttons-inner">
	  <a href="https://www.instagram.com/somossupertu/" target="_blank">
	  <div class="col-xs-4">
		<center>
		  <i class="fab fa-instagram fa-2x" aria-hidden="true"></i>
		</center>
	  </div>
	  </a>
	  
	  <a href="https://www.facebook.com/SomosSuperTu/" target="_blank">
	  <div class="col-xs-4">
		<center>
		  <i class="fab fa-facebook-square fa-2x" aria-hidden="true"></i>
		</center>
	  </div>
	  </a>
	  
	  <a href="https://twitter.com/somossupertu" target="_blank">
	  <div class="col-xs-4">
		<center>
		  <i class="fab fa-twitter fa-2x" aria-hidden="true"></i>
		</center>
	  </div>
	  </a>
  </div>
</div>