<div class="social-buttons">
	<div class="row social-buttons-inner" style="pointer-events: all;">
	  
	  <div class="col-xs-3">
		<center>
		<a href="https://www.instagram.com/somossupertu/" target="_blank" rel="noreferrer noopener" title="Instagram">
		  <img src="/img/icons/instagram.svg" width="48" height="48">
		</a>
		</center>
	  </div>
	  
	  
	  <div class="col-xs-3">
		<center>
		<a href="https://www.facebook.com/SomosSuperTu/" target="_blank" rel="noreferrer noopener" title="Facebook">
		  <img src="/img/icons/facebook.svg" width="48" height="48">
		</a>
		</center>
	  </div>
	  
	  <div class="col-xs-3">
		<center>
		<a href="https://twitter.com/somossupertu" target="_blank" rel="noreferrer noopener" title="Twitter">
		  <img src="/img/icons/twitter.svg" width="48" height="48">
		</a>
		</center>
	  </div>
	  
	  <div class="col-xs-3">
		<center>
		<a href="https://www.linkedin.com/company/s%C3%BAper-t%C3%BA-comunicaci%C3%B3n/" target="_blank" rel="noreferrer noopener" title="LinkedIn">
		  <img src="/img/icons/linkedin.svg" width="48" height="48">
		</a>
		</center>
	  </div>  
	</div>
</div>