---
layout: page

hero-title: "Creando supermarcas"
hero-subtitle: "Posts del autor {{ page.author }}"
---

<section id="slider" style="padding: 0; padding-top: 20px;">
  <div class="container" style="position: relative;">
    <div class="row">
      <div class="col-sm-12">
        <div class="block" style="">
		  <div id="author-header" style="position: relative;">
			  <div class="mobile-only" id="author-header-bg"></div>
			  <p style="color: #a38219; font-weight: 500;" >Publicaciones de</p>
			  <h1 style="color: #054b54; font-weight: 500;">{{ page.author }}</h1>
			  {% for member in site.team %}
				{% if page.author == member.name %}
					<div class="pc-only" style="background: url({{ site.baseurl }}{{ member.image }}); width: 130px; height: 130px; position: absolute; right: 90px; top: 30px; background-size: cover; background-position: center; border-radius: 65px;"></div>
				{% endif %}
			  {% endfor %}
			  <div class="pc-only" style="background: url(/img/superpoder.svg); width: 280px; height: 150px; position: absolute; right: 15px; top: 20px; background-size: cover; background-position: center;"></div>
		  </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>

<div class="container">
	<div class="row">
	{% for post in site.posts %}
		{% if post.author == page.author %}
			{% include postentry.html %}
		{% endif %}
	{% endfor %}
	</div>
</div>
	
<style>
	#author-header
	{
		overflow: hidden;
		border-radius: 0;
		width: 100%;
		height: 190px;
		padding: 20px;
		padding-top: 20px;
		border-radius: 50px;
	}

	{% for member in site.team %}
	  {% if page.author == member.name %}
		#author-header-bg:before
		{
			background: linear-gradient(to right, rgb(255 255 255), #ffffff00);
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 50%;
		}
		#author-header-bg
		{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 33%;
			background: url({{ site.baseurl }}{{ member.image }});
			background-position-x: center;
			background-position-y: center;
			background-repeat: no-repeat;
			z-index: -1;
		}
	  {% endif %}
	{% endfor %}
	
	#slider {
		background: url({{ site.baseurl }}{{ member.image }});
		background-size: contain;
		background-repeat: no-repeat;
		background-position-x: right;
	}
	#slider:before {
		background: white;
	}
}
</style>
