Set-Cookie: <facebook>=<m_pixel_ratio>; SameSite=Lax

<!DOCTYPE html>
<html class="no-js" lang="es">
  <head>

    {% include head.html %}

    {% if site.google_analytics %}
        <!-- Analytics Code -->
        {% include analytics.html %}
    {% endif %}
  </head>
  
  <body data-site-url="{{ site.url }}" data-page-url="{{ page.url | replace: 'index.html', '' }}">
    <div class="cubierta-fade"></div>
	<style>
	.cubierta-fade {
		background: white;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2000;
		padding: 0;
		margin: 0;
		transition: background-color 0.125s linear;
		transition-delay: 0.35s;
	}
	</style>

    <div class="page">
      <div class="page__content"
        data-page-title="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"
        data-page-description="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}">
      {% if page.url == "/" %}
      <div>
      {% else %}
        <div class="shadow_content">
      {% endif %}
        {% include header.html %}
        {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
