<!DOCTYPE html>
<html class="no-js" lang="es" style="position: absolute; width: 100%; display:block;">
  <head>

    {% include head.html %}

    {% if site.google_analytics %}
        <!-- Analytics Code -->
        {% include analytics.html %}
    {% endif %}
  </head>
  <body class="loading{% if site.data.settings.advanced_settings.ajax_loading == true %} ajax-loading{% endif %}"
  data-site-url="{{ site.url }}" data-page-url="{{ page.url | replace: 'index.html', '' }}" style="min-width: fit-content;">
    <div class="page-loader"></div>

    <div class="page">
      <div class="page__content"
        data-page-title="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"
        data-page-description="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}">
      {% if page.url == "/" %}
      <div>
      {% else %}
        <div class="shadow_content">
      {% endif %}
        {% include header.html %}
        {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
