---
layout: default
---

<div class="post">
  <!-- Wrapper Start -->
  <section id="intro" style="margin-top: 60px;">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <div class="block">
		    <div class="post-title-wrapper">
				<div class="post-title">
					<h1>{{ page.title }}</h1>
				</div>
				<div class="post-tags">
					<p style="flex-grow: 1;"> </p>
					<ul>					
					  {% assign post_have_tags = page.tags | size %}
					  {% if post_have_tags > 0 %}
						{% for tag in page.tags %}
						  <li><a class="post" href="/tag/{{tag | replace: ' ', '-' }}">#{{tag}}</a></li>
						{% endfor %}
					  {% endif %}
					</ul>
				</div>
			</div>
			<h2 class="post-subtitle"><i>{{ page.subtitle }}</i></h2>
            <hr />
            <div class="content">
              {{ content }}
            </div>
			<hr />
			<div class="post-info-wrapper">
              <p class="italic">Por <span class="bold">{{ page.author }}</span> - <span class="bold">{{ page.date | date: "%d/%b/%Y" }}</span></p>
            </div>
			
			<hr />
          
          <!-- Construímos la lista con los demás tags que están en otros posts pero no en este -->
          <!-- Para cada post de la colección -->
          {% for post_doc in site.posts %}
            <!-- Para cada tag de cada post -->
            {% for other_tag in post_doc.tags %}
              <!-- Si el tag no está ya en este post ni en la lista de otros tags a pintar -->
              {% unless page.tags contains other_tag or other_tags contains other_tag %}
                <!-- La lista está vacía, la inicializamos con liquid -->
                {% if other_tags %}
                  {% assign new_tag = other_tag | append: ',' | split: ',' %}
                  {% assign other_tags = other_tags | concat: new_tag %}
                <!-- La lista tiene elementos, lo añadimos -->
                {% else %}
                  {% assign other_tags = other_tag | append: ',' | split: ',' %}
                {% endif %}
              {% endunless %}
            {% endfor %}
          {% endfor %}


          <!-- Pintamos la lista de los otros tags -->
          
          {% assign there_are_other_tags = other_tags | size %}
          {% if there_are_other_tags > 0 %}
			<!--
            <div class="categorias">
              <h2>Otras categorías</h2>
              <ul>
                {% for tag in other_tags %}
                  <li><a class="post" href="/tag/{{tag | replace: ' ', '-' }}">{{tag}}</a></li>
                {% endfor %}
              </ul>
            </div>
			-->
          {% endif %}
		  
		  
			<p class="center-text">
			  <button class="back-button" onclick="window.location.href='{{ site.baseurl }}/blog'">Volver al blog</button>
			</p>
		  
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          {% assign author_data_list = site.team | where:"name",page.author %}
          {% assign author_data = author_data_list[0] %}
		  <div>
            <h2 style="text-align: center; width:200px; margin: auto auto 20px auto;">{{ author_data.name }}</h2>
          </div>
          <div class="author-picture" onclick="window.location='/author/{{ author_data.name_filter }}/'";>
            <img src="{{ author_data.image }}" alt="{{ author_data.name }}" style="position: relative; height: 200px; right: {{ author_data.post_image_offset }}px;">
			<div class="more-articles">
				<div style="margin: auto; height: fit-content; display: block; position: relative; top: 35%; width:70%;">
					<p style="text-align: center; user-select: none; font-size: 20px;">
					Más artículos de {{ author_data.name | split: ' ' | first }}
					</p>
				</div>
			</div>
          </div>
		  <h3 style="text-align: center; font-size: 15px; color:#987009; text-align: center; position: relative; top: 15px; width: 200px; margin: auto auto 60px auto;">{{ author_data.position }}</h3>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Call to action Start -->
{% include calltoaction.html %}

<style>
.back-button{
    width: 100%;
    background: #47424C;
    border: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
	padding: 15px 35px;
    background: #035c67;
	border-radius: 5px;
}

.post-tags {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%;
	height: 100%;
}

.post-tags ul {
	position: absolute;
	bottom: 20px;
	right: 0;
}

.post-tags li {
	margin: 10px;
	margin-right: 0px;
	padding: 0px;
}

.post-tags li a {
	float: right;
	width: fit-content;
	text-align: right;
	margin: 0;
	margin-top: 10px;
	margin-left: auto;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	background: #889698;
	border-radius: 20px 0px 0px 20px;
    box-shadow: black 0px 0px 5px 0px;
}

.author-picture {
	position: relative;
	border-radius: 100%;
	width: 200px;
	height: 200px;
	overflow: hidden;
	margin: 0px auto 0 auto;
	cursor: pointer;
}

.more-articles {
	background: #ffffff00;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: background 0.35s, opacity 0.35s;
	font-weight: 500;
}

.more-articles:hover {
	opacity: 1;
	background: #ffffffbb;
	color: black !important;
}

.post-title-wrapper
{
	position: relative;
    padding-bottom: 56.25%;
}

.post-title
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url({{ media_folder }}{{ page.image }});
	background-position: center;
	background-size: cover;
	padding: 20px;
	z-index: -2;
    border-radius: 20px;
}

.post-title:before
{
	content: "";
	background: linear-gradient(180deg, #00000085, transparent);
	width: 100%;
	height: 100%;
	position: absolute;
    top: 0;
    left: 0;
	z-index: -1;
    border-radius: 20px;
}

.post-title h1
{
	font-size: 25px;
	width: 50%;
	color: white;
	text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

.post-subtitle
{
	color: #a38219;
	font-size: 20px;
}

}
</style>