---
layout: default
---

{% if page.hidden == true %}
<!--Not available-->
{% else %}
<div class="post">
  <!-- Wrapper Start -->
  <section id="intro" style="margin-top: 60px;">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <div class="block">
		    <div class="post-title-wrapper">
				<div class="post-title" style="background: url({{ media_folder }}{{ page.image }}); background-position: center; background-size: cover;">
					<h1>{{ page.title }}</h1>
				</div>
				<div class="post-tags">
					<p style="flex-grow: 1;"> </p>
					<ul>					
					  {% assign post_have_tags = page.tags | size %}
					  {% if post_have_tags > 0 %}
            {% for tag in page.tags %}
              {% assign tagObject = site.tags | where:"tag", tag  | first %}
						  <li><a class="post" href="{{tagObject.permalink}}">#{{tag}}</a></li>
						{% endfor %}
					  {% endif %}
					</ul>
				</div>
			</div>
			<h2 class="post-subtitle"><i>{{ page.subtitle }}</i></h2>
            <hr />
            <div class="content">
              {{ content }}
            </div>
            <hr/>
            <i><p id="randomCTA"></p></i>
            <script>
              var ctaList = [
                'Supertú es una agencia de marketing enfocada en la comunicación a través de redes sociales ¿Quieres pedir tu presupuesto? <a href="#call-to-action">¡Pincha aquí!</a>',
                'Si quieres llevar tus redes sociales a un nivel más profesional, puedes ponerte en contacto con nosotras a través del <a href="#call-to-action">formulario de contacto</a> que encontrarás al final de esta página.',
                'Si quieres gestionar tus redes sociales de forma profesional, contacta con nosotras por teléfono <a href="tel://+34653903359">653 903 359</a> o mediante nuestro <a href="#call-to-action">formulario de contacto</a>.',
                'Si quieres llevar tus <a href="https://supertu.es/servicios/">redes sociales a un nivel más profesional</a>, puedes ponerte en contacto con nosotras a través del <a href="#call-to-action">formulario de contacto</a> que encontrarás al final de esta página.'
              ]

              window.onload = PickRandomCTA;
              function PickRandomCTA() {
                var q = ctaList[ Math.floor( Math.random() * ctaList.length ) ];
                document.getElementById("randomCTA").innerHTML = q;
              }
            </script>
			<hr />
			<div class="post-info-wrapper">
        <p class="italic">Por <span class="bold">{{ page.author }}</span> - <span class="bold">{{ page.date | date: "%d/%b/%Y" }}</span></p>
        
        <a target="_blank" href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="client-social-icons">
          <img src="/img/icons/twitter.svg">
          </a>
                  
          <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="client-social-icons">
            <img src="/img/icons/facebook.svg">
          </a>
    
          <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}" class="client-social-icons">
            <img src="/img/icons/linkedin.svg">
          </a>
          
          <hr />

          <p class="italic"><span class="bold">Otras categorías</span></p>
          <div class="post-tags other-tags">
            <ul>
              {% for tag in site.tags%}
                {% unless page.tags contains tag.tag %}
                  <li><a href="{{ tag.url }}">#{{ tag.tag }}</a></li>
                {% endunless %}
              {% endfor %}
            </ul>
          </div>

      </div>
      
			<hr />
          
          <!-- Construímos la lista con los demás tags que están en otros posts pero no en este -->
          <!-- Para cada post de la colección -->
          {% for post_doc in site.posts %}
            <!-- Para cada tag de cada post -->
            {% for other_tag in post_doc.tags %}
              <!-- Si el tag no está ya en este post ni en la lista de otros tags a pintar -->
              {% unless page.tags contains other_tag or other_tags contains other_tag %}
                <!-- La lista está vacía, la inicializamos con liquid -->
                {% if other_tags %}
                  {% assign new_tag = other_tag | append: ',' | split: ',' %}
                  {% assign other_tags = other_tags | concat: new_tag %}
                <!-- La lista tiene elementos, lo añadimos -->
                {% else %}
                  {% assign other_tags = other_tag | append: ',' | split: ',' %}
                {% endif %}
              {% endunless %}
            {% endfor %}
          {% endfor %}


          <!-- Pintamos la lista de los otros tags -->
          
          {% assign there_are_other_tags = other_tags | size %}
          {% if there_are_other_tags > 0 %}
			<!--
            <div class="categorias">
              <h2>Otras categorías</h2>
              <ul>
                {% for tag in other_tags %}
                  <li><a class="post" href="/tag/{{tag | replace: ' ', '-' }}">{{tag}}</a></li>
                {% endfor %}
              </ul>
            </div>
			-->
          {% endif %}
		  
		  
			<p class="center-text">
			  <button class="back-button" onclick="window.location.href='{{ site.baseurl }}/blog'">Volver al blog</button>
			</p>
		  
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          {% assign author_data_list = site.team | where:"name",page.author %}
          {% assign author_data = author_data_list[0] %}
		  <div>
            <h2 style="text-align: center; width:200px; margin: auto auto 20px auto;">{{ author_data.name }}</h2>
          </div>
          <div class="author-picture" onclick="window.location='/publicaciones-de-{{ author_data.name_filter }}/'";>
            <img src="{{ author_data.image }}" alt="{{ author_data.name }}" style="position: relative; height: 200px; right: {{ author_data.post_image_offset }}px;">
			<div class="more-articles">
				<div style="margin: auto; height: fit-content; display: block; position: relative; top: 35%; width:70%;">
					<p style="text-align: center; user-select: none; font-size: 20px;">
					Más artículos de {{ author_data.name | split: ' ' | first }}
					</p>
				</div>
			</div>
          </div>
		  <h3 style="text-align: center; font-size: 15px; color:#987009; text-align: center; position: relative; top: 15px; width: 200px; margin: auto auto 60px auto;">{{ author_data.position }}</h3>
        </div>
      </div>
    </div>
  </section>
</div>
{% endif %}

<!-- Call to action Start -->
{% include calltoaction.html %}