---
layout: page
---

<div class="post">
  <!-- <div style="height:400px; background: url({{ media_folder }}{{ page.image }}); background-position: center; background-size: cover; position: relative; top: 0;"></div>1 -->

  <!-- Wrapper Start -->
  <section id="intro" style="border: 1px dotted #ddd;">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7 col-sm-12">
          <div class="block">
            <h1 style="color: #045e66;">{{ page.title }}</h1>
			      <br/>
			      <h4 style="color: #71979a;"><i>{{ page.subtitle }}</i></h4>
            <div class="post-info-wrapper">
              <p class="italic">Por <span class="bold">{{ page.author }}</span> - <span class="bold">{{ page.date | date: "%B %-d, %Y" }}</span></p>
            </div>
            <hr />
            <div class="content">
              {{ content }}
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="autor col-md-3 col-sm-12">
          {% assign author_data_list = site.team | where:"name",page.author %}
          {% assign author_data = author_data_list[0] %}
          <h1>Autor  </h1>
          <div style="border-radius: 100%; width: 200px; height: 200px; overflow: hidden;">
            <img src="{{ author_data.image }}" alt="{{ author_data.name }}" style="position: relative; height: 200px; right: {{ author_data.post_image_offset }}px">
          </div>
          <div>
            <h2>{{ author_data.name }}</h2>
            {% if author_data.linkedin and author_data.linkedin != "" %}
              <a href="{{ author_data.linkedin }}"><i class="fa fa-linkedin"></i></a>
            {% endif %}
          </div>
          <h3>{{ author_data.position }}</h3>
          <a class="view_more" href="/author/{{ author_data.name_filter }}/">Ver más entradas</a>
          
          {% assign post_have_tags = page.tags | size %}
          {% if post_have_tags > 0 %}
            <div class="categorias">
              <h2>Categorías</h2>
              <ul>
                {% for tag in page.tags %}
                  <li><a class="post" href="/tag/{{tag}}">{{tag}}</a></li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
</div>
<p class="center-text" style="padding: 30px;">
  <a href="{{ site.baseurl }}/blog">Back to blog</a>
</p>

<!-- Call to action Start -->
{% include calltoaction.html %}