---
layout: page
---

{% capture tag_headline %}
Posts de la categoría {{page.tag}}
{% endcapture %}

{% include hero.html 
  title=tag_headline
  subtitle=""
%}


<div class="container">
    {% if page.content%}
        <div class="row" style="margin-top: 30px;">
            <div class="col-sm-12">
                {{ page.content }}
            </div>
        </div>
    {% endif %}

    <div class="row" style="margin-top: 30px;"></div>
    {% for post in site.posts %}
        {% if post.tags contains page.tag %}
            {% include postentry.html %}
        {% endif %}
    {% endfor %}
	</div>
</div>