---
layout: teammember
---

<div class="mainFrame">
 <img src="https://i.imgur.com/a5gkgYe.png" />
 <hr>
</div>
<table class="mainFrame" >
 <tbody>
  <tr>
   <td class="Celda" valign="top" width="30%">
    <span class="name" >{{ teammember.name }}<span><br></span></span>
    <span class="position">{{ teammember.position }}<span><br></span></span>
   </td>
   <td class="Celda" valign="top" width="30%">
    <span class="telefono"><strong>T.: {{ teammember.telephone }}</strong><span><br></span></span>
    <span class="Direccion">Av. Jane Bowles, s/n, 29011, <strong>Málaga</strong><span><br></span></span>
   </td>
   <td valign="top" width="30%">
    <span class="URL" ><strong><a href="https://supertu.es/">supertu.es</a></strong><span><br></span></span>
   </td>
   <td>
    <div class="holder">
       <img src="https://i.imgur.com/c3plOuL.png" alt="girlPower">
    </div>
   </td>
  </tr>
 </tbody>
</table>
<div class="mainFrame">
 <hr>
 <p>
  Advertencia: Este correo electrónico contiene información privada y estrictamente confidencial. Si usted lo ha recibido por error, por favor comuníquelo inmediatamente al remitente por e-mail y borre este mensaje y los documentos que pueda llevar anexos sin guardar copia. Si usted no es el destinatario del presente mensaje no está autorizado a leerlo, retenerlo o difundirlo.
 </p>
 <p>
  Warning: This e-mail is privileged, confidential and containa6s private information. If you are not the intended recipient, please advise the sender inmediately by reply e-mail and delete this message and any attachments without retaining a copy. Any reading, retention, distribution or copying of this communication by any person other than its intended recipient is prohibited.
 </p>
 <hr>
 <p>
  En cumplimiento de lo establecido en la Ley Orgánica 3/2018, de 6 de diciembre, de Protección de Datos de Carácter Personal, le informamos que los datos personales recogidos en este sitio web formarán parte de un fichero que se encuentra bajo la titularidad y responsabilidad de Supertu S.L. con dirección Av. Jane Bowles, s/n, 29011, Málaga con CIF B-93542041, informandole que los datos serán tratados con la máxima confidencialidad. El usuario podrá ejercitar sus derechos de acceso, rectificación, cancelación y oposición enviando un correo electrónico a info@supertu.es adjuntando fotocopia del DNI y con las indicación del derecho que se pretende ejercitar o enviando una carta a la direccion indicada.
 </p>
 <p>
  In compliance with Organic Law 3/2018 of 6 December on the Protection of Personal Data, we inform you that the personal data collected on this website will be part of a file that is under the ownership and responsibility of Supertu S.L. Direction: Av. Jane Bowles, s/n, 29011, Málaga con BAT B-93542041 informing that the data will be treated with the utmost confidentiality. The user may exercise their rights of access, rectification, cancellation and opposition by sending and email to info@supertu.es attaching a photocopy of the DNI and indicating the right that is intended to be exercised or sending a letter to the address indicated.
 </p>
 <hr>

</div>


<style>

.basic{
 font-size:10pt;
 font-family:Verdana, Helvetica, sans-serif;
}
.name{
font-family:Verdana;
font-weight:bold;
font-size:20pt;
color: #A28723;
}

.position{
font-family:Verdana;
font-weight:bold;
font-size:14pt;
padding-top: 10px;
color: #136267;
}
.mainFrame {
width: 600px;
font-size: 10pt;
font-family: Verdana, Helvetica, sans-serif;
}
td{
vertical-align: middle;
}

hr{
border: 2px solid #136267;
border-radius: 2px;
max-width: 600px;
alignment: left;
}
.telefono{
font-family:Verdana;
font-size:8pt;
color:#136267;
padding-left: 5px;
}

.URL{
color: #A28723;
font-family:Verdana;
font-size:14pt;
padding-left:10px;
}
.Direccion{
color: #A28723;
font-family:Verdana;
font-size:8pt;
padding-left: 5px;
padding-top: 3px;
}
.holder{
margin:0px;
padding: 0px;
border: 0px;
}
.holder img{
max-height: 60px;
}

.Celda{
border-right: 2px solid;
border-right-color: #A28723;
}
a:link{
text-decoration: none;
color: #A28723;
}
a:hover{
text-decoration: none;
color: #01b500;
}
a:visited{
text-decoration: none;
color: #A28723;
}

p{
color:#136267;
font-size:7pt;
}
</style>
  

<!-- <div class="post"> -->
  <!-- <section id="intro" style="border: 1px dotted #ddd;"> -->
    <!-- <div class="container"> -->
      <!-- <div class="row"> -->
        <!-- <div> -->
          <!-- <div class="block"> -->
			<!-- <img src="{{ media_folder }}{{ page.image }}" alt=""> -->
            <!-- <h1>{{ page.name }}</h1> -->
            <!-- <div class="post-info-wrapper"> -->
              <!-- <p class="italic">{{ page.quote }}</p> -->
            <!-- </div> -->
            <!-- <hr /> -->
			<!-- <p>{{ page.description }}</p> -->
            <!-- <p>{{ content }}</p> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </section> -->
<!-- </div> -->
<!-- <p class="center-text" style="padding: 30px;"> -->
  <!-- <a href="{{ site.baseurl }}/blog">Back to blog</a> -->
<!-- </p> -->